body{
   font-size: large;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 1000px;
   margin: auto;
   background-color: #101010 ;
}
h1 {
   color: white ;
   text-align: center;
}

nav ul {
   text-align: center;
   list-style: none; 
   padding-top: 15px;
   padding-right:62px;
}

nav li {
   display: inline;
}

nav a {
   text-decoration: none;
   color: white;
   font-size: 1.2em;
   font-weight:bold;
   margin-right: 20px;
}
nav a:hover{
   color: #734f96 ;
}

td:hover {
   color: white;
   text-decoration: underline;
 }

table {
   border-spacing: 0px;
   padding-top: 20px;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}

tr {
   outline-style: groove;
   outline-width: thick;
   outline-color: silver;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

#shop a {
   text-decoration: none;
   color: inherit;
}