/*CSS for my demonstration project*/
body{
   font-size: large;
   color: #734f96;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 1000px;
   margin: auto;
   background-color: #101010 ;
}
h1 {
   color: #734f96 ;
   text-align: center;
}


nav ul {
   text-align: center;
   list-style: none; 
   padding-top: 15px;
   padding-right:62px;
}
nav li {
   display: inline;
}
nav a {
   text-decoration: none;
   color: white;
   font-size: 1.2em;
   font-weight: bold;
   margin-right: 20px;
}
nav a:hover{
   color: #734f96 ;
}
section {
   text-align: center;
   width: 100%;
   margin-right: 5%;
   margin-bottom: 20px;
}

footer {
   clear: both;
   color: palevioletred;
   height: 30px;
   text-align: center;
}
footer a {
   text-decoration: none;
   color: palevioletred;
   margin-left: 20px;
}

table {
  width: 100%;
}
.image_right{
   float:right;
   margin-left: 10px;
   margin-bottom: 10px;
}
.image_left{
   float:left;
   margin-right: 10px;
   margin-bottom: 10px;
}